<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por votar</title>
    <link rel="icon" href="{{ url_for('static', filename='img/senavotos_logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script>
        setTimeout(() => {
            window.location.href = "{{ url_for('home') }}";
        }, 5000);
    </script>
</head>

<body>
    <div class="container2">
        <h1>¡Gracias por votar!</h1>
        <p>Tu voto ha sido registrado exitosamente.</p>
    </div>
</body>

</html>
